<div class="page-title">
    <div class="title">
        <h1>新建门店审核</h1>
    </div>
</div>
<div class="conter-wrapper">
    <div class="panel bp-panel-primary">
        <div class="panel-heading">
            <div class="panel-title">查询条件</div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="control-label pull-left">门店名称：</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchOptions.name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label pull-left">经营品牌：</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="vm.searchOptions.brand">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="control-label pull-left">所在区域：</div>
                        <div class="col-md-9">
                            <select name="" id="province" class="col-md-4 form-control">
                                <option value="">省</option>
                            </select>
                            <select name="" id="city" class="col-md-4 form-control">
                                <option value="">市</option>
                            </select>
                            <select name="" id="county" class="col-md-4 form-control">
                                <option value="">区</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <div class="control-label pull-left">审核状态：</div>
                        <div class="col-md-8">
                            <select name="" id="reviewStatus" class="form-control">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn bp-btn-primary" ng-click="vm.search()">查询</button>
            <button type="button" class="btn bp-btn-primary" ng-click="vm.reset()">重置</button>
        </div>
    </div>

    <div class="panel bp-panel-primary">
        <div class="panel-heading">
            <div class="panel-title">门店列表</div>
        </div>
        <div class="panel-body">
            <div class="table-container list-table">
                <div class="table-wrapper" ng-table="vm.tableParams">
                    <table class="table table-bordered table-striped table-hover"
                           cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
                        <thead class="panel-title">
                        <tr class="text-center">
                            <th>门店编号</th>
                            <th>门店名称</th>
                            <th>经营品牌</th>
                            <th>城市</th>
                            <th>门店地址</th>
                            <th>门店电话</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in $data track by $index">
                            <td>门店编号</td>
                            <td>{{row.name}}</td>
                            <td>经营品牌</td>
                            <td>城市</td>
                            <td>门店地址</td>
                            <td>门店电话</td>
                            <td>状态</td>
                            <td>
                                <button type="button" class="btn bp-btn-primary" ng-click="vm.goClaimReviewDetail(row.organization_id)">审核</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="recordCount">
                        <span>共 <span class="count" ng-model="vm.d.totalCount">{{vm.d.totalCount}}</span> 条记录</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn bp-btn-primary" ng-click="vm.exportExcel()">导出Excel</button>
        </div>
    </div>
</div>
