<div class="conter-wrapper">
    <div class="panel panel-primary" style="border: none">
        <div class="panel-body" style="padding: 0">
            <div class="table-container list-table" id="page">
                <div class="table-wrapper" ng-table="vm.tableParams">
                    <table class="table table-bordered table-striped table-hover"
                           cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
                        <thead class="panel-title">
                        <tr>
                            <th>门店ID</th>
                            <th>门店名称</th>
                            <th>经营品牌</th>
                            <th>城市</th>
                            <th>门店地址</th>
                            <th>门店电话</th>
                            <th style="width: 13.3%;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in $data track by $index">
                            <td>{{row.storeId}}</td>
                            <td>{{row.storeName}}</td>
                            <td>
                                <span ng-repeat="brandArr in row.brands">{{brandArr.brandName}},</span>
                            </td>
                            <td>{{row.provinceName}}-{{row.cityName}}-{{row.countyName}}</td>
                            <td>{{row.storeAddress}}</td>
                            <td>{{row.storePhone}}</td>
                            <td>
                                <a ng-click="vm.detail(row.storeId)">查看详情</a>
                                <a style="margin-left: 10px" ng-click="vm.showQrcode(row.storeId)">二维码</a>
                            </td>
                        </tr>
                        <tr class="lx-list-sp-tr" ng-if="!$data || !$data.length">
                            <td colspan="10" style="text-align: center">
                                <div class="text-center" ng-show="vm.loading">
                                    <i class="glyphicon glyphicon-refresh">数据加载中...</i>
                                </div>
                                <div class="text-center" ng-if="!vm.loading && (!$data || !$data.length)">
                                    <i class="glyphicon glyphicon-remove"></i>您查询的条件错误或查询的结果不存在，请重新查询
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="recordCount">
                    <span>共 <span class="count" ng-model="vm.d.totalCount">{{vm.d.totalCount}}</span> 条记录</span>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="margin-top: 20px">
            <a class="btn bp-btn-primary" id="batch-download" ng-click="vm.batchDownQrcode()" ng-href="{{vm.batchDownQrcodeUrl}}">批量导出二维码</a>
            <a class="btn bp-btn-primary" ng-click="vm.exportExcel()" ng-href="{{vm.exportExcelUrl}}">导出Excel</a>
        </div>
    </div>
</div>

<!--弹窗 二维码-->
<div class="store-list-popup" ng-show="vm.isQrcodeShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-close text-right" ng-click="vm.hideQrcode()">X</div>
                <div class="qrcode-image">
                    <img ng-src="{{vm.qrCodeUrl}}">
                </div>
            </div>
            <div class="modal-footer">
                <a href="http://demo1015.sit.ffan.com/storemanage/store/codeDown?storeId={{vm.singleStoreId}}"
                   class="btn btn-primary" id="single-download" role="button">下载</a>
                <a class="btn bp-btn-primary" role="button" ng-click="vm.printQrcode()">打印</a>
            </div>
        </div>
    </div>
</div>