<div class="page-title">
  <div class="title">
    <h2>新增员工</h1>
  </div>
</div>
<div class="conter-wrapper">
  <div class="bp-container">

    <form id="addStaff_id" name="addStaff"  class="form-horizontal" role="form">
      <div class="panel-body">
          <div class="form-group" >
       
                  <label for="name" class="col-md-2 control-label" >姓名<span>*</span></label>
                  <div class="col-md-3" >
                       <input type="text" class="form-control" ng-model="vm.users.name" required id="staffname_id"> 
                   </div>
          </div>         
          <div class="form-group" >
                  <label for="name" class="col-md-2 control-label">手机号<span>*</span></label>
                  <div class="col-md-3" >   
                         <input type="text" class="form-control" ng-model="vm.users.contact" required  id="staffphone_id"> 
                  </div>
          </div>

        <div class="form-group" >
              <label for="name" class="col-md-2 control-label">即时通讯账号</label>
                  <div class="col-md-3" >   
                         <input type="text" class="form-control" ng-model="vm.users.rtx"  id="staffphone_id"> 
                  </div>

        </div>
   

          <div class="form-group">
       
                  <label for="name" class="col-md-2 control-label" >门店选择<span>*</span></label>
                  <div class="col-md-3" >
                       
                        <select class="form-control" ng-options="a.name for a in storeName" ng-model="storeName">
                          <option value="">--请选择--</option>
                        </select> 
                   </div>
           </div>         
          <div class="form-group" >
                  <label for="name" class="col-md-2 control-label">选择功能模板<span>*</span></label>
                       <div class="col-md-3" > 
                          
                            <div>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="vm.user.checkbox1"> 功能模板1
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2" ng-model="vm.user.checkbox2"> 功能模板1
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="vm.user.checkbox3"> 功能模板1
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="vm.user.checkbox4"> 功能模板1
                              </label>
                              <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="vm.user.checkbox5"> 功能模板1
                              </label>
                               <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="vm.user.checkbox6"> 功能模板1
                              </label>
                           
                            </div>
                     </div>
            </div>

            <div class="form-group" >
       
                  <label for="name" class="col-md-2 control-label">邮箱</label>
                  <div class="col-md-3" >
                  
                       <input type="email" class="form-control" id="staffmail_id" ng-model="vm.users.email" ng-minlength="5" ng-maxlength="20"
                       >
                       <p ng-message="required">邮箱必填</p>
                   </div>
             </div>
             <div class="form-group" >
                  <label for="name" class="col-md-2 control-label">密码<span>*</span></label>
                  <div class="col-md-3" >   
                         <input type="password" placeholder="密码" class="form-control" ng-model="vm.users.password" required  id="newpass_id" required class="required form-control"> 
                  </div>
             </div>         
          <div class="form-group" >
                   <label for="name" class="col-md-2 control-label">确认密码<span>*</span></label>
                  <div class="col-md-3" >   
                         <input type="password" placeholder="确认密码" class="form-control" ng-model="vm.users.con_password" required  id="con_password_id" class="required form-control">
                  </div>
          </div>


       
      </div>

    </form>
      <div class="row">
      <div class="form-group">
        <div class="col-md-7 col-md-offset-2">
        <div class="panel-footer form-actions">
        <button class="btn bp-btn-primary" type="submit" ng-click="vm.createuser()" >创建员工</button> 
      </div>
      </div>
      </div>
      </div>

   

  </div>
</div>