<div class="page-title">
  <div class="title">
    <h4>权限模板列表</h4>
  </div>
</div>
<div class="conter-wrapper">
  <!--内容区域-->
  <table class="table table-bordered">
    <tr>
      <td>模板名称</td>
      <td>状态</td>
      <td>操作</td>
      <td>模板描述</td>
      <td>创建人</td>
      <td>创建时间</td>
    </tr>
    <tr>
      <td>收银员</td>
      <td>生效</td>
      <td><a>查看</a> <a>修改</a> <a>删除</a> <a>暂停</a></td>
      <td>描述文字</td>
      <td>苏三</td>
      <td>2016-8-29 14:59:34</td>
    </tr>
  </table>
</div>
