<div class="page-title">
  <div class="title">
  </div>
</div>
<div class="conter-wrapper">
  <div class="panel panel-primary">

    <form id="datailStaff_id" name="datailStaff"  class="form-horizontal" role="form">
        <table class="table table-bordered table-striped table-hover"
                     cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
      <div class="panel-body">
          <div class="form-group" >
       
                  <label for="name" class="col-md-2 control-label" >姓名</label>
                  <div class="col-md-3" >
                       <input type="text" class="form-control" ng-model="vm.d.name" readonly  id="staffname_id "> 
                   </div>
          </div>         
          <div class="form-group" >
                  <label for="name" class="col-md-2 control-label">手机号</label>
                  <div class="col-md-3" >   
                         <input type="text" class="form-control" ng-model="vm.d.contact" readonly  id="staffphone_id"> 
                  </div>
          </div>

        <div class="form-group" >
              <label for="name" class="col-md-2 control-label">即时通讯账号</label>
                  <div class="col-md-3" >   
                         <input type="text" class="form-control" ng-model="vm.d.im" readonly  id="staffphone_id"> 
                  </div>

        </div>
   

          <div class="form-group">
       
                  <label for="name" class="col-md-2 control-label" >门店选择</label>
                  <div class="col-md-3" >
                       
                     <input type="text" class="form-control" ng-model="vm.d.employee_organization_name" readonly  id="storeName_id"> 
                   </div>
           </div>         
          <div class="form-group" >
                  <label for="name" class="col-md-2 control-label">功能模板</label>
                       <div class="col-md-3" > 
                       
                     
                       <input type="text" class="form-control" ng-model="vm.d.role_info.function_role_name" readonly  id="role_id"> 
                       
                      
   
                     </div>
            </div>

            <div class="form-group" >
       
                  <label for="name" class="col-md-2 control-label">邮箱</label>
                  <div class="col-md-3" >
                  
                       <input type="email" class="form-control"  readonly ng-model="vm.d.email"  id="staffmail_id"> 
                   </div>
             </div>            
      </div>

      <div class="panel-footer form-actions">
        <button class="btn bp-btn-primary" type="submit" ng-click="vm.returnstafflistc()" >返回</button>
      </div>
      </table>
    </form>
  </div>
</div>