
<div class="conter-wrapper">
    <div class="panel bp-panel-primary" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
        <table class="table table-bordered">
              <tbody>
                  <tr>
                      <td class="col-md-3">账号姓名</td>
                      <td class="col-md-9" ng-bind="vm.d.name"></td>
                  </tr>
                  <tr>
                      <td>手机号</td>
                      <td ng-bind="vm.d.contact"></td>
                  </tr>
                  <tr>
                      <td>即时通讯账号</td>
                      <td ng-bind="vm.d.im">
                      </td>
                  </tr>
                  <tr>
                      <td>所在门店</td>
                      <td ng-bind="vm.d.employee_organization_name"></td>
                  </tr>
                  <tr>
                      <td>可使用的功能模板</td>
                      <td ng-bind="vm.d.role_info.function_role_name"></td>
                  </tr>
                                   
                  <tr>
                      <td>员工性别</td>
                      <td ng-bind="vm.d.genderName">
                      </td>
                  </tr>
                  
                  <tr>
                      <td>员工状态</td>
                      <td ng-bind="vm.d.status_id=='1'?'正常':'冻结'">
                      </td>
                  </tr>

                  <tr>
                      <td>邮箱</td>
                      <td ng-bind="vm.d.email">
                      </td>
                  </tr>
                  
              </tbody>
          </table>
        <div class="panel-footer form-actions">
          <button class="btn bp-btn-primary" type="submit" ng-click="vm.returnstafflistc()">返回</button>
        </div>
        
    </div>
</div>
