<div class="page-title">
  <div class="title">
    <h2>新增门店</h2>
  </div>
</div>
<div class="conter-wrapper">
  <div class="panel bp-panel-primary">
    <form name="addStore" class="form-horizontal">
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">
            <span class="required-star">*</span>
            门店名称：
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn bp-btn-primary" type="submit">添加</button>
        <button class="btn bp-btn-primary" type="button">返回</button>
      </div>
    </form>
  </div>
</div>
