<div class="page-title">
  <div class="title">
    <h1>门店管理</h1>
  </div>
</div>
<div class="conter-wrapper track-list-wrapper">
  <div class="bp-container">
    <div class="table-container">
      <div class="table-wrapper" ng-table="vm.tableParams">
        <table class="table table-bordered table-striped table-hover">
          <thead class="panel-title">
            <tr>
              <th> 门店名称 </th>
                <th> 负责人 </th>
                <th> 联系方式 </th>
              <th> 操作 </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in $data track by $index">
              <td> 

                  {{row.name}}
              </td>
              <td>{{row.principal}}</td>
                <td>{{row.contact}}</td>
              <td> 
                <a class="btn bp-btn-default btn-xs" ng-click="vm.detail(row.organization_id)" >查看</a>
                <button class="btn bp-btn-default btn-xs" ng-click="vm.edit(row.organization_id)">编辑</button>
                <button class="btn bp-btn-default btn-xs">查看员工</button>
              </td>
            </tr>
            <tr class="lx-list-sp-tr" ng-if="!$data || !$data.length">
              <td colspan="10" style="text-align: center">
                <div class="text-center" ng-show="vm.loading">
                  <i  class="glyphicon glyphicon-refresh">数据加载中...</i>
                </div>
                <div class="text-center" ng-if="!vm.loading && (!$data || !$data.length)">
                  <i class="glyphicon glyphicon-remove"></i>您查询的条件错误或查询的结果不存在，请重新查询
                </div>
              </td>
            </tr>
          </tbody>
        </table>
          
      </div>
    </div>
  </div>
