<div class="page-title">
  <div class="title">
    <h4></h4>
  </div>
</div>
<div class="conter-wrapper">
  <div class="row">
    <div class="col-md-2">姓名</div>
    <div class="col-md-10">张三</div>
  </div>
  <div class="row">
    <div class="col-md-2">手机号</div>
    <div class="col-md-10">13900000000</div>
  </div>
  <div class="row">
    <div class="col-md-2">门店</div>
    <div class="col-md-2">万达广场</div>
    <div class="col-md-2">对应权限</div>
    <div class="col-md-6">普通收银员，商品管理员，财务管理员</div>
  </div>
  <div class="row">
    <div class="col-md-2">即时通讯账号</div>
    <div class="col-md-10">123456</div>
  </div>
  <div class="row">
    <div class="col-md-2">邮箱</div>
    <div class="col-md-10">123456@sina.com</div>
  </div>
  <div class="row">
    <div class="col-md-2">密码</div>
    <div class="col-md-10">123456</div>
  </div>
</div>
