<div class="page-title">
    <div class="title">
        <h1>编辑门店</h1>
    </div>
</div>
<div class="conter-wrapper">
    <div class="panel bp-panel-primary">
        <form name="editStore" class="form-horizontal" ng-submit="vm.save()">
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
                    <tbody>
                        <tr>
                            <td class="col-md-3">门店名称<span class="required-star">*</span></td>
                            <td class="col-md-9"><input type="text" ng-model="vm.d.name" class="form-control" readonly placeholder="门店名称" name="namestore" ng-maxlength="40" required >
                                <div class="input-group error-info" ng-show="editStore.namestore.$invalid">
                                    <p class="discount-help-block">
                                        <span class="fa fa-info-circle required-star">门店名称不能超过40个英文字符长度</span>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>门店负责人<span class="required-star">*</span></td>
                            <td><input type="text" class="form-control" placeholder="" required name="principal" ng-maxlength="10"
                                    ng-model="vm.d.principal">
                                <div class="input-group error-info" ng-show="editStore.principal.$invalid">
                                    <p class="discount-help-block">
                                        <span class="fa fa-info-circle required-star">请输入有效负责人名称</span>
                                    </p>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>负责人联系方式<span class="required-star">*</span></td>
                            <td><input name="contact" type="tel" class="form-control" placeholder="" required ng-pattern="/^1[3|4|5|7|8]\d{9}$/"
                                    ng-model="vm.d.contact">
                                <div class="input-group error-info" ng-show="editStore.contact.$invalid">
                                    <p class="discount-help-block">
                                        <span class="fa fa-info-circle required-star">请输入有效手机号</span>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>
                                <textarea class="form-control" rows="3" ng-model="vm.d.remark" ng-maxlength="200" name="commit"></textarea>
                                <div class="input-group error-info" ng-show="editStore.commit.$invalid">
                                    <p class="discount-help-block">
                                        <span class="fa fa-info-circle required-star">备注不能超过200个英文字符长度</span>
                                    </p>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td >可使用的功能模板<span class="required-star">*</span></td>
                            <td >
                                <div class="col-md-12 pre-scrollable"  cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'正在加载功能模板列表...'}">
                                    <div class=" col-md-6 checkbox" ng-repeat="item in vm.d.templateData track by $index">
                                        <label> 
                                            <input type="checkbox" id={{item.rid}} name="{{item.name}}"
                                                ng-model="item.checked" > 
                                                {{item.name}}
                                        </label>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <button class="btn bp-btn-primary btn-sm" ng-disabled="editStore.$invalid" type="submit">保存</button>
                <button class="btn bp-btn-primary btn-sm" type="button" ng-click="vm.back()">返回</button>
            </div>
        </form>
    </div>
</div>