<div class="page-title">
  <div class="title">
    <h2>编辑门店</h2>
  </div>
</div>
<div class="conter-wrapper">
  <div class="panel bp-panel-primary">
    <form name="addStore" class="form-horizontal">
      <div class="panel bp-panel-primary">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-5">门店名称</td>
                    <td class="col-md-7">河西万达店</td>
                </tr>
                <tr>
                    <td>门店负责人</td>
                    <td>张三</td>
                </tr>
                <tr>
                    <td>联系方式</td>
                    <td>13900000000</td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="col-md-5">功能权限</td>
                    <td class="col-md-7">
                      <label>
                        <input class="col-md-6" type="checkbox">功能模板1
                      </label>
                      <label>
                        <input class="col-md-6" type="checkbox">功能模板2
                      </label>
                      <label>
                        <input class="col-md-6" type="checkbox">功能模板3
                      </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
      <div class="panel-footer">
        <button class="btn bp-btn-primary btn-sm" type="button">返回</button>
      </div>
    </form>
  </div>
</div>
