<div class="conter-wrapper" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">

    <div class="panel bp-panel-primary">
        <div class="panel-body">

            <form id="detailTemp_id" name="detailTemp" class="form-horizontal" ng-submit="vm.save()" role="form">
                <table class="table table-bordered table-striped table-hover">
                    <fieldset ng-disabled="true">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">模板名称</label>
                            <div class="col-sm-10">
                                <input name="name" class="form-control" required ng-model="vm.d.name" placeholder="名称">
                            </div>
                            <input name="name" ng-model="vm.d.rid" style="display:none">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">功能描述</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" ng-model="vm.d.description" placeholder="描述"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">功能选择</label>
                        <div class="col-sm-10">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#sop_id" data-toggle="tab">SOP</a>
                                </li>
                                <li>
                                    <a href="#app_id" data-toggle="tab">APP</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content pre-scrollable">
                                <div class="tab-pane fade in active" id="sop_id">
                                    <bp-checkboxtree list-promise="vm.loadPromisesop" ng-model="vm.d.nodes" config="vm.config"></bp-checkboxtree>
                                </div>
                                <div class="tab-pane fade" id="app_id">
                                    <bp-checkboxtree list-promise="vm.loadPromiseapp" ng-model="vm.d.nodes" config="vm.config"></bp-checkboxtree>
                                </div>
                            </div>
                        </div>
                    </div>



                </table>
            </form>

        </div>
        <div class="panel-footer">
            <a class="btn btn-primary" ui-sref="templatelist()">返回</a>
        </div>
    </div>
</div>