  <div class="panel bp-panel-primary">
    <div class="panel-heading">
      <div class="panel-title">本月激励</div>
      </div>
         <div class="panel-body">
             <div class="row" >
            
                 <div class="col-md-3 form-group">
                      <label >选择月份</label>  
                   
                       <select class="form-control autoWidth" 
                       ng-model="vm.selectMonth.value">
                                <option value="">切换月份</option>
                                  <option value="2016-10">2016-10</option>
                                  <option value="2016-11">2016-11</option>
                                  <option value="2016-12">2016-12</option>
                                  <option value="2017-01">2017-01</option>
                                  <option value="2017-02">2017-02</option>
                                  <option value="2017-03">2017-03</option>
                        </select> 
                  </div>
                  <div class="col-md-3 form-group">  
                        <label >激励场景</label>  
                   
                       <select class="form-control autoWidth" 
                       ng-model="vm.selectTask.value"
                       >
                              <!--   <option value="">全部</option>  -->
                                  <option value="recruitingOrder">拉单</option>
                                  <option value="recruitingMember">拉新</option>
                                  <option value="payment">扫码收款</option>
                                
                                </select>
                  </div>
                  <div class="col-md-3 form-group">  
                 
                    <div class="pull-right" style="margin:11%">
                       <button class="btn bp-btn-primary" type="button" 
                      ng-click="vm.search()">查询</button>
                    </div>
                  </div>
         </div>
        </div>

    
 
          <div class="bp-container">
            <div class="table-container">
              <div class="table-wrapper">
               <table ng-table="vm.tableParams" class="table-center table table-bordered table-striped table-hover" style="word-break:break-all;word-wrap:break-all;"
        cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
        <thead>
                    <tr>
                     
                      <th class="text-center"> 激励场景 </th>
                      <th class="text-center"> 激励规则 </th>
                      <th class="text-center"> 时间 </th>
                      <th class="text-center"> 激励金额 </th>
                      <th class="text-center"> 操作人 </th>
                 
                    </tr>
                  </thead>
                  <tbody>
                
<!--                  <tr ng-show="row.name==vm.month.value" ng-repeat="row in vm.items track by $index"  ng-if="vm.month.value?row.name == vm.month.value:true"> --> 
                 <tr ng-repeat="row in $data track by $index">
                
                   
                      <td class="text-center"> {{row.actionName}} </td>
                      <td class="text-center"> {{row.ruleName}} </td>
                      <td class="text-center"> {{row.actionTime | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                      <td class="text-center"> {{row.amount}} </td>
                      <td class="text-center"> {{row.operatorName}} </td>
                  </tr>
                     <tr class="lx-list-sp-tr" ng-if="!$data || !$data.length">
                      <td colspan="10" style="text-align: center">
                        <div class="text-center" ng-show="vm.loading">
                          <i  class="glyphicon glyphicon-refresh">数据加载中...</i>
                        </div>
                           <div class="text-center" ng-if="!vm.loading  && (!$data || !$data.length)">
                          <i class="glyphicon glyphicon-remove"></i>您查询的条件错误或查询的结果不存在，请重新查询
                        </div>
                      </td>
                    </tr>
                  </tbody>
                <thead>
                    <tr>
                      <th style="padding-bottom:2%" class="text-center"> 汇总 </th>
                      <th><hr style="width:40px;height:1px;border:none;border-top:1px solid #000000;" /> </th>
                      <th> <hr style="width:40px;height:1px;border:none;border-top:1px solid #000000;" /></th>
                      <th style="padding-bottom:2%" class="text-center"> {{vm.d.totalAmount}}</th>
                      <th> <hr style="width:40px;height:1px;border:none;border-top:1px solid #000000;" /></th>
                    </tr>
                  </thead>

                </table>
                 <div class="recordCount">
                  <span>共 <span class="count" ng-model="vm.d.totalCount">{{vm.d.totalCount}}</span> 条记录</span>
                </div>
              </div>
            </div>
          </div>
         <div class="panel-footer">
      <button class="btn bp-btn-primary" ng-click="vm.exportExcel()">导出Excel</button>
    </div>
</div>
</div>
</div>