<div class="nav-padding">
    <ul class="nav nav-tabs">
        <li class="navbar-btn active"><a ng-click="vm.back()">我的门店</a></li>
        <li class="navbar-btn"><a ng-click="vm.goClaimList()">认领门店</a></li>
    </ul>
</div>

<div class="page-title">
    <div class="title">
        <h1 class="pull-left">查看门店</h1>
        <a href="" style="margin-left: 30px;" ng-click="vm.back()">返回</a>
    </div>
</div>

<div class="conter-wrapper">
    <!--仅审核中门店显示，需判断-->
    <div style="margin-bottom: 30px;color: #0000cc">（仅审核中门店显示）您的门店信息修改正在审核中……</div>
    <div class="panel bp-panel-primary">
        <!--new：table后两个class及cg-busy-->
        <table class="table table-bordered table-striped table-hover" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
            <tbody>
            <tr>
                <td class="col-md-3 text-right"><span class="required-star">*</span>门店名称：</td>
                <td class="col-md-9"><input type="text" class="form-control" ng-model="vm.d.name"></td>
            </tr>
            <tr>
                <td class="text-right">英文名称：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">英文缩写：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>门店简介：</td>
                <td>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" style="width: 60%"></textarea>
                    <div>提示：可以输入40-1000个字符（汉字相当于两个字符）</div>
                    <div>您最多还可输入<span>936</span>字</div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>经营品牌：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>城市：</td>
                <td>
                    <select name="" id="province">
                        <option value="">北京市</option>
                    </select>
                    <select name="" id="city">
                        <option value="">北京市</option>
                    </select>
                    <select name="" id="county">
                        <option value="">北京市</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>门店地址：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>门店电话：</td>
                <td>
                    <input type="text" class="form-control">
                    <span>提示：手机号码、400电话或固定电话，固定电话格式为“区号 - 直播号码 - 分机号码”</span>
                </td>
            </tr>
            <tr>
                <td class="text-right">楼层：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">铺位号：</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td class="text-right">是否支持WI-FI：</td>
                <td>
                    <input type="radio" value="0">支持
                    <input type="radio" value="1" style="margin-left: 30px;">不支持
                </td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>门店LOGO：</td>
                <td>
                    <img src="" alt="">
                    <div>提示：图片格式支持JPG、JPEG、PNG，大小不超过5M，尺寸要求640*640，只能上传1张</div>
                </td>
            </tr>
            <tr>
                <td class="text-right"><span class="required-star">*</span>门店背景图片：</td>
                <td>
                    <img src="" alt="">
                    <div>提示：图片格式支持JPG、JPEG、PNG，大小不超过5M，尺寸要求960*540，只能上传1张</div>
                </td>
            </tr>
            <!--审核中门店不显示-->
            <tr>
                <td class="text-right"><span class="required-star">*</span>内景收银台照片：</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--审核中门店不显示-->
    <button class="btn bp-btn-primary" type="button" ng-click="vm.edit(vm.d.organization_id)">编辑</button>
</div>
