<div class="page-title">
    <div class="title">
        <h2>基本订单信息</h2>
    </div>
</div>
<div class="conter-wrapper">
    <div class="panel bp-panel-primary">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-2">订单编号:</td>
                    <td class="col-md-10">10110538868872</td>
                </tr>
                <tr>
                    <td>下单时间:</td>
                    <td>2016-08-03 18:54:43</td>
                </tr>
                <tr>
                    <td>订单金额:</td>
                    <td>2540.00元</td>
                </tr>
                <tr>
                    <td>实付金额:</td>
                    <td>2540.00元</td>
                </tr>
                <tr>
                    <td>商品信息:</td>
                    <td>
                        <table class="col-md-4 table table-bordered table-info">
                            <thead>
                                <tr>
                                    <th>商品数量</th>
                                    <th>商品单价</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2450.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer">
            <button class="btn bp-btn-primary">查询</button>
        </div>
    </div>
</div>
