<div class="page-title">
    <div class="title">
        <h1>查看门店</h1>
    </div>
</div>
<div class="conter-wrapper">
    <div class="panel bp-panel-primary" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
           <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <td class="col-md-5">门店名称</td>
                    <td class="col-md-7" ng-bind="vm.d.name"></td>
                </tr>
                <tr>
                    <td>门店负责人</td>
                    <td ng-bind="vm.d.principal"></td>
                </tr>
                <tr>
                    <td>负责人联系方式</td>
                    <td ng-bind="vm.d.contact"></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td ng-bind="vm.d.remark"></td>
                </tr>
                <tr>
                    <td>可使用的功能模板</td>
                    <td>
                        <ul class="noStyle">
                            <li ng-repeat="role in vm.d.roles">{{role.role_name}}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <button class="btn bp-btn-primary btn-sm pull-right" type="button" ng-click="vm.back()">返回</button>

</div>
