<div class="page-title">
  <div class="title">
    <h1>创建新模板</h1>
  </div>
</div>
<div class="conter-wrapper">
  <div class="panel bp-panel-primary">
    <form id="addTemp" name="addTemp" class="form-horizontal" ng-submit="vm.save()" role="form">
      <div class="panel-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">模板名称<span class="required-star">*</span></label>
          <div class="col-sm-10">
            <input type="name" name="nametemp" class="form-control" id="inputEmail3" ng-model="vm.d.name" placeholder="名称" required ng-maxlength="20">
            <div class="input-group error-info" ng-show="addTemp.nametemp.$invalid">
              <p class="discount-help-block">
                <span class="fa fa-info-circle required-star">模板名称最多可添加20英文字符</span>
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">功能模板描述<span class="required-star">*</span></label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" ng-model="vm.d.description" placeholder="功能模板描述" ng-maxlength="200"></textarea>
            <div class="input-group error-info" ng-show="addTemp.description.$invalid">
              <p class="discount-help-block">
                <span class="fa fa-info-circle required-star">功能模板描述最多可添加200英文字符</span>
              </p>
            </div>

          </div>
        </div>
        <div class="form-group" cg-busy="{promise:vm.loadPromise, minDuration: 500, message:'数据加载ing...'}">
          <label for="inputPassword3" class="col-sm-2 control-label">功能选择</label>
          <div class="col-sm-10">

            <ul id="myTab" class="nav nav-tabs">
              <li class="active">
                <a href="#sop_id" data-toggle="tab">SOP</a>
              </li>
              <li>
                <a href="#app_id" data-toggle="tab">APP</a>
              </li>
            </ul>


            <div id="myTabContent" class="tab-content pre-scrollable">
              <div class="tab-pane fade in active" id="sop_id">
                <bp-checkboxtree list-promise="vm.loadPromise" ng-model="vm.d.nodes" config="vm.config"></bp-checkboxtree>
              </div>
              <div class="tab-pane fade" id="app_id">
                <bp-checkboxtree list-promise="vm.loadPromiseapp" ng-model="vm.d.nodes" config="vm.config"></bp-checkboxtree>
              </div>
            </div>

          </div>
        </div>
        <div class="panel-footer">
          <button class="btn bp-btn-primary" ng-disabled="addTemp.$invalid" type="submit">保存</button>
          <a class="btn btn-default" ui-sref="templatelist()">返回</a>
        </div>

    </form>
    </div>

  </div>